body{
	background:#f5f5f5;
	background-image:url('../imgs/bg.png');
	background-size:cover;
	background-repeat:no-repeat;
	

  /*filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);*/
}

#team1 {
	left:10%;
	top:182px;
	animation: teamOneMove 0.8s 1;
	width: 30%;
}

#team1 img {
	width: 100%;
	height: auto;
}

#team2 {
	right:10%;
	top:182px;
	animation: hideVisability 0.9s 1, teamTwoMove 0.3s 0.8s 1;
	width: 30%;
}

#team2 img {
	width: 100%;
	height: auto;
}

#vsText{
	position: absolute;
	top: 320px;
	left: 50%;
	transform: translateX(-50%);
	animation: vsTextMove 2s 1;
	font-size:5.2rem;
	color: #fff;
	text-align: center;
	
	padding-left:60px;
	padding-right:60px;
}
#time{
	margin: auto;
	position: relative;
	top: 30px;
	
	text-align:center;
	font-size:1.8rem;
	color:#fff;
	
	width:30%;
	min-width: 280px;
	/*margin-left:35%;
	margin-top:40px;
	margin-bottom:80px;*/
	
	padding:9px 0px 12px 0px;
	
	background-image:url('../imgs/namesign.png');
	background-size:100% 98%;
	background-repeat:no-repeat;
	animation: timeMove 2.2s 1;
}

div.contestant{
	position:fixed;
	display:inline-block;
}
img.contestantImage{
	-moz-box-shadow:    3px 3px 5px 6px #fff, -3px 3px 5px 6px #fff;
	-webkit-box-shadow: 3px 3px 5px 6px #fff, -3px 3px 5px 6px #fff;
	box-shadow:         3px 3px 5px 6px #fff, -3px 3px 5px 6px #fff;
	
	margin-bottom:20px;
}
div.contestantName{
	
	width:70%;
	margin: auto;
	text-align:center;
	font-size:1.8rem;
	color:#fff;
	
	padding:9px 0px 12px 0px;
	
	background-image:url('../imgs/namesign.png');
	background-size:100% 98%;
	background-repeat:no-repeat;
}



.smallrounded{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px;
}
.rounded{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-khtml-border-radius:6px;
}
.bigrounded{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-khtml-border-radius:10px;
}
.circlerounded{
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	-khtml-border-radius:50%;
}

@keyframes teamOneMove {
    from {left: -880px;}
    to {left: 200px;}
}

@keyframes teamTwoMove {
    from {right: -880px;}
    to {right: 10%;}
}

@keyframes vsTextMove {
    0% {opacity: 0}
    80% {opacity: 0}
    85% {opacity: 0.3}
    90% {opacity: 0.6}
    95% {opacity: 0.9}
    100% {opacity: 1}
}

@keyframes timeMove {
    0% {top: -200px}
    70% {top: -200px}
    85% {top: 45px}
    95% {top: 25px}
    100% {top: 30px}
}

@keyframes hideVisability {
    0% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 1}
}

@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		#team1, #team2 {
			width: 42%;
			margin: auto;
		}
		#team1 {
			top: 30vh;
			z-index: 5;
		}
		#team2 {
			top: 35vh;
			z-index: 1;
		}
		#vsText {
			top: 37vh;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
			color:crimson;
			text-shadow: 0 0 5px black;
		}
		div.contestantName {
			font-size: 1.2rem;
			width: 90%;
		}
	}

